.iphonePage {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.iphonePage__groupList {
  
}

.iphonePage__filter {
  display: none;
  justify-content: center;
  margin-bottom: 20px;
}



.iphonePage__filter button {
  width: 150px;
  height: 40px;
  color: white;
  border-radius: 15px;
  background-color: var(--blue-color);

  transition: all 0.2s ease;
}

.iphonePage__filter button:hover {
  background-color: var(--blue-colorHover);
}

.iphonePage__iphoneGrid {
  margin-right: 20px;
}


@media (max-width: 867px) {
  .iphonePage__iphoneGrid {
    margin-right: 0px;
  }
}

@media (max-width: 660px) {
  .iphonePage__iphoneGrid {
    float: right;
    width: 340px;
  }
}

@media (max-width: 557px) {

  .iphonePage {
    flex-direction: column;
  }


  .iphonePage__groupList {
    display: none;
  }

  .active {
    display: block;
    margin-bottom: 15px;
  }

  .iphonePage__iphoneGrid {    
    width: 100%;
  }

  .iphonePage__filter { 
    display: flex;
  }
}