.iphonePage {
  display: flex;
  margin-top: 40px;
}

.iphonePage__groupList {
  float: left;
  width: 40%;
}

.iphonePage__iphoneGrid {
  float: right;
  width: 60%;
}


@media (max-width: 660px) {
  .iphonePage__iphoneGrid {
    float: right;
    width: 340px;
  }
}