.iphonePage {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.iphonePage__filter {
  display: none;
  justify-content: center;
  margin-bottom: 20px;
}

.iphonePage__filter button {
  width: 150px;
  height: 40px;
  color: white;
  border-radius: 15px;
  background-color: var(--blue-color);

  transition: all 0.2s ease;
}

.iphonePage__filter button:hover {
  background-color: var(--blue-colorHover);
}

.iphonePage__iphoneGrid {
  margin-right: 20px;
}

@media (max-width: 867px) {
  .iphonePage__iphoneGrid {
    margin-right: 0px;
  }
}

@media (max-width: 660px) {
  .iphonePage__iphoneGrid {
    float: right;
    width: 340px;
  }
}

@media (max-width: 557px) {
  .iphonePage__accordion {
  }

  .iphonePage {
    flex-direction: column;
    margin-top: 15px;
  }

  .iphonePage__groupList_container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .iphonePage__groupList {
    display: flex;

    flex-direction: column;    
    transition: max-height 1s;
    max-height: 350px;
  }

  .active {
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    max-height: 0px;
  }

  .iphonePage__iphoneGrid {
    width: 100%;
  }

  .iphonePage__filter {
    display: flex;
  }
}
