.productListPage__wrapper{
  padding: 25px;
}
.productListPage__name {
  margin-top: 15px;
}

.productListPage__head {
  display: flex;
  margin-top: 20px;
  min-height: 540px;
}

.productListPage__pict {
  flex: 0 0 35%;
  position: relative;
}

.productListPage__pict_img {
  max-width: 340px;
  min-width: 340px;

  position: absolute;
  top: 123px;
  left: 0;
  right: 0;
  margin: auto;
}

.productListPage__desc {
  flex: 1 1 auto;
  padding: 30px 30px 50px;
  font-size: 18px;
}

.productListPage__info {
  flex: 0 0 330px;
  max-width: 330px;

  padding: 25px 30px;
  border: 1px solid var(--darkgray--color);
}

.productListPage__info_item,
.productListPage__info_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #d8d8d8;
}

.productListPage__info_btn {
  margin-top: 25px;
}


.productListPage__btnBack {
  margin-top: 25px;
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;  
}

@media (max-width: 1000px) {
  .productListPage__desc {
    flex: 1 1 auto;
    padding: 30px 30px 50px;
    font-size: 15px;
  }
  .productListPage__info {    
    max-width: 270px;  
    padding: 20px 25px;
    border: 1px solid var(--darkgray--color);
  }
}

@media (max-width: 850px) {
  
}

