.btnCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 115px;
}

.btnCart__in, .btn {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: var(--white-color);
  background-color: var(--blue-color);
}

.btnCart__in {
  background-color: var(--danger-color);
}

.btnCart__icon {
  width: 20px;
  height: 20px;
}


@media (max-width: 400px) {
.btnCart {
  font-size: 13px;
  width: 105px;
}

.btnCart__icon {
  width: 18px;
  height: 18px;
}
}