.iphoneCompare__wrapper {
  width: 288px;
  height: 466px;

  margin-right: 15px;
}

.iphoneCompare__img {
    transform: scale(0.7);
}

.iphoneCompare {
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.iphoneCompare__description {
    margin-top: -15px;
}

.iphoneCompare__description__item {
  display: flex;
  margin-bottom: 10px;
}
