.navBar {
  position: relative;
}
.navBar__inner {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;  
  border-bottom: 1px solid var(--darkgray--color);
}

.navBar__main {
  display: flex;
  align-items: center;
}

.navBar__catalog {
  margin-left: 20px;
}

.navBar__ul {
  display: flex;
}

.navBar__ul > li {
  list-style-type: none;
  padding-left: 25px;
  text-decoration: none;
}

.navBar__ul > li:first-child {
  padding-left: 0;
}

.navBar__cart_relative {
  position: relative;
}

.navBar__cart_absolute {
  position: absolute;
  top: -5px;
  right: 10px;

  text-align: center;
  padding-top: 3px;

  font-size: 13px;
  color: #fff;
  font-family: "Roboto", sans-serif;

  background: var(--danger-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.navBar__cart_absolute::before {
  content: "";
  display: inline-block;
}

.menu__button {
  width: 130px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;

  background-color: var(--danger-color);
  color: var(--white-color);
}

.menu__button > span {
  padding-left: 5px;
  padding-top: 4px;
}

.navBar__icon {
  width: 25px;
  height: 25px;
}

@media (max-width: 740px) {
  .navBar__icon {
    width: 18px;
    height: 18px;
  }

  .navBar__ul > li {
    padding-left: 5px;
  }
}

@media (max-width: 660px) {


  .menu { 
 
    width: 335px;
    min-width: 335px;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0px;
    right: -335px;
    transition: right 0.3s;
    background: #dad6ff;
    padding: 10px 0px;
    margin-right: -20px;
    z-index: 2000; 
    
  }

  .active {
    position: absolute;
    right: 0px;  
  }
  

  .navBar__menu {
    display: block;

    position: fixed;
    height: 80px;
    z-index: 101;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    overflow-y: hidden;
  }

  .navBar__ul {
    display: flex;
    justify-content: space-between;
    margin: 15px;
  }

  .navBar__menu {
    padding: 0;
  }

  .navBar__inner {
    display: block;
    align-items: center;
    height: 95px;
    padding-top: 25px;
    border-bottom: 1px solid var(--darkgray--color);
  }

  .navBar__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navBar__catalog {
    margin-left: 0;
    margin-right: 15px;
  }

  .navBar__emblem {
    margin-left: 15px;
  }

  .menu {       
    left: 0px;   
    width: 100%;   
    height: 100vh;
  }

}
