.productsGrid__item {
  display: flex;
  flex-wrap: wrap;
}

.productsGrid__catalog {
  display: flex;
  justify-content: end;
  margin-right: 15px;
}

.productsGrid__catalog > li {
  margin-left: 10px;
  cursor: pointer; 
}
 
.productsGrid__pagin {
  display: flex;
  justify-content: center;
}

.productsGrid__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.productsGrid__sortMenu {
  display: flex;
  align-items: center;  
  margin-bottom: 10px;
} 

.productsGrid__searchMenu {
  margin-left: 25px;
}

@media(max-width: 867px) {
  .productsGrid__catalog {
    display: none;
  }
  .productsGrid__sortMenu > span {
    font-size: 10px;
  } 

  .productsGrid__item {
    display: block;
    flex-wrap: nowrap;
  }

}



@media (max-width: 660px) {
  .productsGrid__searchMenu {
    margin-left: 0px;
  }  

  .productsGrid__sortMenu {
    
    max-width: 340px;
    margin-left: 10px;
  } 

  .productsGrid__item {
    max-width: 340px;
  }


}
