.productsGrid__item {
  display: flex;
  flex-wrap: wrap;
}

.productsGrid__catalog {
  display: flex;
  justify-content: end;
  margin-right: 15px;
}

.productsGrid__catalog > li {
  margin-left: 10px;
  cursor: pointer; 
}

.productsGrid__pagin {
  display: flex;
  justify-content: center;
}

.productsGrid__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.productsGrid__sortMenu {
  display: flex;
  align-items: center;
  margin-left: 15px; 
  margin-bottom: 10px;
} 

@media(max-width: 867px) {
  .productsGrid__catalog {
    display: none;
  }
  .productsGrid__sortMenu > span {
    font-size: 10px;
  } 

}
