.tabs {
    display: flex;
    flex-direction: row;
}

.active-tab {
    padding: 12px;
    margin: 10px;
    cursor: pointer;
    color: var(--white-color);

    background-color: var(--blue-color);
    border-radius: 5px;
}

.tab {
    display: none;
}

.content {
    display: none;
}

.active-content {
    display: block;
}